doctype html
html
  head
    title URL Shortner
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      h1 Jasil's URL Shortner Microservice.
      blockquote
        p User Stories:
        ul
          li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
          li When I visit that shortened URL, it will redirect me to my original link.
      h2 Example to shorten URL:
      code https://jasil1414-urlshortner.herokuapp.com/https:www.gmail.com
      br
      code https://jasil1414-urlshortner.herokuapp.com/
      br
